.main-location-container{
  margin-left: 30px;
  width: 1195px;
  height: fit-content;
  background: rgb(10, 10, 10);
}

.select-box{
  display: flex;
}

.custom-datepicker{
  width: 200px;
  height: 40px;
  margin: 40px 50px 10px 0px;
  border-width: 1px;
  border-color: gray;
  border-radius: 10px;
  padding-left: 10px;
}

.selection-form{
  margin-top: 70px;
  margin-left: 70px;
}

.edit-selection-btn{
  width: 200px;
  height: 40px;
  margin-left: 0x;
  border-width: 0;
  border-radius: 10px;
  background-image: linear-gradient(225deg, #FF3CAC 0%, #d90b43 50%);
  color: white;
  font-weight: 600;
}