#main{
  margin-top: 60px;
  padding: 20px 0px;
  transition: all 0.3s;
  /* width: 100%;
  margin:0 auto; */
  position:static
}

@media (max-width: 1199px) {
  #main {
    padding: 20px;
  }
}

#main-centered {
  margin-top: 60px;
  padding: 20px 30px;
  transition: all 0.3s;
  /* Add styles to center the main content */
  margin:  auto;
  max-width: 80%; /* Adjust this value as needed */
}