/* .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #b7ff00; 
}

.menu-icon {
  font-size: 1.5rem;
  cursor: pointer;
}

.header-title {
  margin: 0;
} */
