.button-section{
  width: 100%;
  height: fit-content;
  /* background: rebeccapurple; */
  padding-top: 40px;
  
}

.booking-btn{
  width: 150px;
  height: 40px;
  background: #ed2d2d;
  border-width: 0;
  color: white;
  margin: 0px 20px 20px 120px;

  @media (max-width: 768px) {
    width: 100px;
  }
  
}

.chat-btn{
  width: 150px;
  height: 40px;
  background: white;
  border-width: 2px;
  border-color: #ed2d2d;
  border-style: solid;
  color: #ed2d2d;
  @media (max-width: 768px) {
    width: 100px;
  }
}