.service-description{
  width: 100%;
  height: fit-content;
  margin-top: 100px;
  background: white;
}

/* .service-description p{
  text-align: left;
  font-size: 15px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  
}

.service-description span{
  margin: 0px 5px; 
} */