.bg-orange {
  background-color: black !important; 
  border-color: #151514 !important;
  height: 40px;
  width: 100px;
}

.custom-update-button{
  background-color: #FF9800;
  border-color: #FF9800;
  width: 200px;
  margin-left: 160px;
  
}

.custom-update-button:hover {
  background-color: #FF9800; 
}

.custom-delete-button{
  background-color: #EC407A;
  border-color: #EC407A;
  width: 200px;
  margin-right: 100px;
  margin-left:5px;
}

.custom-delete-button:hover {
  background-color: #EC407A;
}

.custom-next-button{
  background-color: rgb(10, 152, 7);
  color: white;
  border-width: 3px;
  border-radius: 10px;
  border-width: 0;
  width: 130px;
  height: 45px;
  margin: 0px 0 20px  100px;

}

.custom-next-button:hover {
  box-shadow: 0 0 10px 0 rgba(1, 41, 112, 0.15);
}

.custom-search-button{
  background: #FF9800;
  color: white;
  border-radius: 10px;
  width: 150px;
  height: 40px;
  margin-top: 40px;
  border-width: 0;
}