.body-div {
  height: 400px;
  width: 100%;
  background-color: #ECEFF1;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

.arcade-logo {
  max-width: 100px;
  margin-left: 180px;
  margin-top: 40px;
}

.section_padding {
  padding: 4rem 4rem;
}

.mfooter {
  background-color: #ECEFF1;
  width: 100%;
}

.sb_footer {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
}

.sb_footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
  margin-bottom: 1rem;
  width: 100%;
}

.sb_footer-links-div {
  width: 100%;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  color: white;
}

a {
  color: black;
  text-decoration: none;
}

.sb_footer-links-div h4 {
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 0.9rem;
  margin-top: 40px;
  font-weight: 600;
  color: black;
}

.sb_footer-links-div p {
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 0.5rem 0;
  cursor: pointer;
}

.sb_footer-below {
  display: flex;
  justify-content: space-between;
  margin-top: 0.2rem;
}

.sb_footer-below-links {
  display: flex;
}

.sb_footer-below-links p {
  font-size: 13px;
  line-height: 15px;
  margin-left: 2rem;
  color: white;
  font-weight: 600;
}

hr {
  color: #757575 !important;
  width: 80%;
  align-self: center;
}

.sb_footer-copyright p {
  font-size: 12px;
  line-height: 15px;
  color: black;
  font-weight: 500;
  margin-left: 600px;
}

@media (max-width: 768px) {
  .arcade-logo {
    margin-left: 120px;
    
  }
}

@media (min-width: 768px) {
  .sb_footer-links {
    flex-wrap: nowrap;
  }

  .sb_footer-links-div {
    width: 48%; 
  }
}


@media (min-width: 992px) {
  .sb_footer-links-div {
    width: 48%; 
  }
}

@media (min-width: 1200px) {
  .sb_footer-links-div {
    width:auto; 
  
}
}

@media (max-width: 1200px) {
  .sb_footer-copyright p {
    margin-left: 180px;
  }
}

@media (max-width: 1200px) {
  .sb_footer-copyright p {
    margin-left: 180px;
  }
}

@media (max-width: 768px) {
  .sb_footer-copyright p {
    margin-left: 0px;
  }
}