.logo{
  line-height: 1;
  margin: 0 50px 0 50px;
}

@media (max-width: 1200px) {
  .logo {
    width: 280px;
  }
}

@media (max-width: 600px) {
  .logo {
    width: 200px;
    margin-left: 20px;
  }
}
.logo img {
  max-height: 50px;
  margin-right: 6px;
}

.logo span{
  font-size: 26px;
  font-weight: 700;
  color: rgb(232, 89, 11);
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
  margin-left: 20px;
}