.popup-content {
  top:10px;
    padding: 20px;
    border-radius: 15px;
    background-color: white;
    max-width: 600px;
    width: 100%;
    border-style: none;
    z-index: 1000;
    max-height: 80%;
  overflow-y: auto;
  }
  
  .popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .popup-title {
    margin-top: 0px;
    margin-bottom: -50px;
  }
  
  